
/* Site navigation */
.site-nav {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-flex;
      flex-direction: column;
      position: relative;

      a {
        color: $offWhite;
        padding: 1em;
      }

      &.active:after {
        color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -.3rem;
        vertical-align: middle;
        content: "";
        border-right: .3rem solid transparent;
        border-bottom: .3rem solid;
        border-left: .3rem solid transparent;
      }

      & > ul {
        display: none;
        position: absolute;
        background: $blue;
        min-width: 160px;
        flex-direction: column;
        min-width: 12em;

        li.active:after {
          bottom: 50%;
          left: .3rem;
          width: 0;
          height: 0;
          margin-bottom: -.3rem;
          vertical-align: middle;
          border-top: .3rem solid transparent;
          border-left: .3rem solid;
          border-bottom: .3rem solid transparent;
        }

      }
    }

    li:hover {
      background: darken($blue, 10%);

      & > ul {
        display: flex;
      }
    }
  }

  .nav-header {
    font-weight: bold;
  }

  .navbar-toggler {
    color: $white;
  }

}

.mobile-navbar {
  ul {
    list-style: none;
    margin: 0;
    padding:0;

    li {
      display: block;
      padding: 1rem;
      position: relative;
    }

    /* Nav links */
    a {
      color: $offWhite;
    }
    a:hover,
    a:focus {
      color: $white;
      background-color: transparent;
    }

    /* Active state gets a caret at the bottom */
    a.active {
      color: $white;
    }
  }
  .nav-header {
    font-weight: bold;
  }
}


