@import "variables";


@import "globals";
@import "masthead";
@import "header";

@import "navigation";
@import "sidebar";

@import "footer";

/* Pagination */
.pager {
  margin-bottom: 4rem;
  text-align: left;
}
.pager > li > a {
  width: 8rem;
  padding: .75rem 1.25rem;
  text-align: center;
  border-radius: 2rem;
}


/*
 * Site posts
 */
.site-post {
  margin-bottom: 4rem;
}
.site-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.site-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}